.border{
    border: 2px solid rgb(255, 0, 0);
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.aligns-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color:var(--secondary-color);
    color: var(--primary-color);
}
.invert{
    filter: invert(1);
}
.rounded{border-radius: 7px;}
.p-1{padding: 10px;}
.p-2{padding: 20px;}
.m-1{margin: 5px;}


/* Define scrollbar styles */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #363636; /* Dark background color */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555555; /* Darker color for the handle */
    border-radius: 50px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7c7b7b; /* Lighter color when hovered */
  }
  .bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
  }
  .bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
  }